[Source]
SourcePath = /Users/david/Workspace/indexes/wapo/src/
FilePrefix = WAPO
#IncludeDocIDListPath = /Users/david/Workspace/indexes/wapo/includedocids.txt

[Index]
IndexPath = /Users/david/Workspace/indexes/wapo/index/

[Images]
ImagesPath = /Users/david/Workspace/indexes/wapo/index/img/
GenerateThumbnails = true