[Source]
SourcePath = /Users/david/Workspace/indexes/wapo/src/
#IncludeDocIDListPath = /Users/david/Workspace/indexes/wapo/includedocids.txt

[Index]
KeepMarkup = True
IndexPath = /Users/david/Workspace/indexes/wapo/index/
ParagraphBreak = \n

[Images]
SaveImages = False
ImagesPath = img/
GenerateThumbnails = True
DownloadDelay = 5